/* Write your CSS here */
.cart-summary-container {
  display: flex;
  justify-content: flex-end;
}
.cart-summary-card {
  padding: 5px;
}
.order-total-para {
  color: #616e7c;
  font-size: 16px;
  font-family: 'roboto';
}
.total-price-span {
  font-size: 24px;
  font-weight: 700;
  font-family: 'roboto';
  color: black;
}
.items-in-cart-para {
  font-size: 15px;
  font-family: 'roboto';
  color: gray;
}
.checkout-button {
  font-size: 15px;
  font-family: 'roboto';
  color: white;
  background-color: #0b69ff;
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 5px;
}
